[submodule "lib/doctrine"]
	path = lib/doctrine
	url = git@github.com:fivetran/doctrine.git
[submodule "lib/definitely-typed"]
	path = lib/definitely-typed
	url = git@github.com:fivetran/DefinitelyTyped.git
[submodule "typescript"]
	path = typescript
	url = git@github.com:Microsoft/TypeScript.git
[submodule "lib/closure-library"]
	path = lib/closure-library
	url = git@github.com:fivetran/closure-library.git
