[submodule "lib/definitely-typed"]
	path = lib/definitely-typed
	url = https://github.com/fivetran/DefinitelyTyped.git
[submodule "lib/closure-library"]
	path = lib/closure-library
	url = https://github.com/fivetran/closure-library.git
