.idea/
*.iml
src/*.js
src/*.map
*.jar
dist/
node_modules/
out/
lib/closure-library/closure-library.iml
test/*.js
index/*.js
src/*.js
scripts/*.js
index/*.js
index/closure-library/*.js
dependencies/
*.map
*.pyc
symbols.tsv